.container {
    display: flex;
    margin: 0;
}

.image-content {
    position: relative; /* Make the container relative for absolute positioning */
}

.image-button {
    top: 20px;
    right: 20px; 
    padding: 10px 20px;
    margin-left: 650px;
    background-color: khaki;
    color: black;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
img {
    width: 600px;
    height: auto;
    margin-left: 175px;
    margin-top: 10px;
}
.text-content {
    margin-right: 25px;
}

h1 {
    font-size: 28px;
}

p {
    
    text-align: jus;
    font-size: 18px;
}

.box {
    display: flex;
}

.mini-box {
    margin-right: 10px;
    background-color: khaki;
    text-align: center;
    width: 750px;
    height: 100px;
    margin-top: 50px;
}
.mini-box p{
    text-align: center;
    width: auto;
    height: fit-content;
    margin: 30px;
}

.container-card {
    display: flex;
    justify-content: space-between; /* Mengatur jarak antara container */
    margin-top: 20px;
}

.card {

    background-color: #f5f5f5;
        border: 1px solid #ddd;
        justify-content: left;
        padding: 20px;
        width: calc(50% - 10px); /* Setengah lebar container minus margin */
        box-sizing: border-box;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1)
}


.card2 {
    
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        justify-content: right;
        padding: 20px;
        width: calc(50% - 10px); /* Setengah lebar container minus margin */
        box-sizing: border-box;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    }


h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .content, .image {
        flex: 100%;
    }
    .container-card{
        flex-direction: column;
        align-items: center;
    }
}   

/* Responsif untuk screen pad */
@media (min-width: 768px) and (max-width: 1023px) {
    .content {
        flex: 60%;
        margin-right: 20px;
    }

    .image {
        flex: 40%;
    }
}

/* Responsif untuk screen monitor */
@media (min-width: 1024px) {
    .content {
        flex: 70%;
        margin-right: 20px;
    }

    .image {
        flex: 30%;
    }
}
