@import './base.css';
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@keyframes fadeInAnimation {
0% {
  opacity: 0;
  }
  100% {
      opacity: 1;
   }
  
}

body {
animation: fadeInAnimation ease 0.5s;
}

html{
scroll-behavior: smooth;
}


