*{
    font-family: 'Be Vietnam Pro';
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
    
}

body {
  animation: fadeInAnimation ease 0.5s;
}

html{
  scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* span{
    color: #1F3984;
    font-weight: bold;
} */

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #ffff;
    font-family: Arial, sans-serif;
    color: black;
}

.form {
    width: 100%;
    max-width: 400px; /* Batas lebar maksimum */
    padding: 2rem;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 1px 7px 58px rgba(0, 0, 0, 0.1);
    
}
.out {
    width: 100%;
    max-width: 400px; /* Batas lebar maksimum */

    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 1px 7px 58px rgba(0, 0, 0, 0.1);
    
}


button {
    background-color: #1F3984;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FFF500;
    color: black;
}
