<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="navbar">
    <a class="active" href="#"><i class="fa fa-fw fa-home">Administator</i></a>
</div>


<div class="container">
    <div class="content-kanan">
        <h1>Pengaduan Masyarakat</h1>
        <h2>1. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias modi nemo illum beatae omnis fugit!        </h2>
        <h2>2. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, debitis?</h2>
        <h2>3. Lorem ipsum dolor duduk, amet consectetur adipisicing elit. Apakah Anda memenuhi syarat dan melakukan kesalahan kuasi yang sangat besar?        </h2>
        <h2>4. Lorem ipsum dolor duduk amet.</h2>
    </div>
    <div class="content-kiri">
        <img src="image/Screen_Shot_2023-02-02_at_10.13.21.png" alt="" srcset="">
    </div>


</div>

<div class="lower">
    <section class="flex-container">
        <div class="item">
            <h1>Jumlah kecamatan</h1>
            <h2> 15 </h2>
        </div>
        <div class="item">
            <h1>jumah desa</h1>
            <h2> 42 </h2>
        </div>
        <div class="item">
            <h1>jumlah penduduk </h1>
            <h2> 12.000 </h2>
        </div>
        <div class="item">
            <h1>data pertahun</h1>
            <h2> 2023 </h2>
        </div>
   </section>
  
</div>

<!-- bagian 2  -->  

<div class="container-2">
    <div class="form-container">
        <h1>Feedback Form</h1>
        <form action="Bagian-2.html" method="post">
            <div class="form-group">
                <label for="nik">NIK:</label>
                <input type="number" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="name">Nama Lengkap:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="telp">No Telphone:</label>
                <input type="number" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="Pengaduan">Pengaduan:</label>
                <textarea id="suggestion" name="suggestion" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <label for="gambar">Upload Gambar Terkait:</label>
                <input type="file" id="email" name="email" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="form-muncul">
        <h1 style="margin-left: 100px;">Laporan Pengaduan</h1>
        <div class="content-1">
        <h2 style="margin-left: 20px; margin-right: 70px; margin-top: 50px;">jalan rusak di daerah lampung tengah jalan ini cukup meresahkan </h2>
            <div class="kanan">
                <h2>22 Juni 2022 : Yudistira Dharma W</h2>
                <img src="image/images (2).jpeg" class="image" alt="">
            </div>
        </div>
        <div class="content-1">
            <h2 style="margin-left: 20px; margin-right: 70px; margin-top: 50px;">jalan rusak di daerah lampung timur jalan ini cukup meresahkan</h2>
            <div class="kanan">
                <h2>22 Juni 2022 : Yudistira Dharma W</h2>
                <img src="image/download.jpeg" class="image" alt="">
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <p>&copy; 2023 . Hak Cipta Dilindungi.</p>
        </div>
    </div>
</footer>

</div>
</body>
</html>
