<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class="form-muncul">
        <h1>Laporan Pengaduan</h1>
        <div class="content-1">
        <h2 style="margin-left: 20px; margin-right: 70px; margin-top: 50px;">jalan rusak di daerah lampung tengah jalan ini cukup meresahkan </h2>
            <div class="kanan">
                <h2>22 Juni 2022 : Yudistira Dharma W</h2>
                <img src="image/images (2).jpeg" class="image" alt="">
            </div>
        </div>
        <div class="content-1">
            <h2 style="margin-left: 20px; margin-right: 70px; margin-top: 50px;">jalan rusak di daerah lampung timur jalan ini cukup meresahkan</h2>
            <div class="kanan">
                <h2>22 Juni 2022 : Yudistira Dharma W</h2>
                <img src="image/download.jpeg" class="image" alt="">
            </div>
        </div>
    </div>


</body>
</html>